<div class="color-container">
  <input class="color-name" type="text" [(ngModel)]="colorName" #ctrl="ngModel" (blur)="syncColor()">
  <div class="color-control panel">
    <!-- <mat-tab-group class="color-control tab" animationDuration="0ms" disableRipple="true" dynamicHeight="true"
      mat-align-tabs="center">
      <mat-tab label="RGB">
        <div>
          <mat-slider min="0" max="255" step="1" value="0"></mat-slider>
        </div>
        <div>
          <mat-slider min="0" max="255" step="1" value="0"></mat-slider>
        </div>
        <div>
          <mat-slider min="0" max="255" step="1" value="0"></mat-slider>
        </div>
      </mat-tab>
      <mat-tab label="Pick"> Content 2 </mat-tab>
    </mat-tab-group> -->
    <!-- <span class="color-slider">
      <app-color-range></app-color-range>
      <input type="text" name="text-red" value="">
    </span>
    <span class="color-slider">
      <app-color-range></app-color-range>
      <input type="text" name="text-red" value="">
    </span>
    <span class="color-slider">
      <app-color-range></app-color-range>
      <input type="text" name="text-red" value="">
    </span> -->
  </div>
</div>
